body {
  font-family: "Noto Sans", sans-serif;
}

a:hover {
  text-decoration: none;
}

.add-channel-icon, .add-channel-icon:active {
  color: #9da7ab;
  cursor: pointer;
}

.add-channel-icon:hover {
  color: #c4cacd;
}

.cursor-pointer {
  cursor: pointer;
}

.Header-bar {
  background-color: #77ba99;
}

.Header-bar-brand {
  color: #283e48;
  font-size: 1.5rem;
}

.Header-login, .Header-login:active, .Header-login:visited {
  color: #283e48;
}

.Header-login:hover {
  text-decoration: underline;
}

.icon {
  width: 30px;
  height: 30px;
}

img {
    object-fit: cover;
}

.channels {
  color: #9da7ab;
}

.modal {
  background: #fff;
  outline: 0;
  min-width: 250px;
  max-width: 500px;
  border-radius: 4px;
}

.channel-item {
  cursor: pointer;
}

.channel-item:hover {
  background-color: #1e2e35;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 0.5em 1.5em;
}

.modal-header {
  border-bottom: 1px solid #eee;
}

.modal-title {
  margin: 0;
}

.modal-footer {
  border-top: 1px solid #eee;
  text-align: right;
}

.modal--animated {
  opacity: 0.3;
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.modal--animated.has-entered {
  opacity: 1;
  transform: scale(1) translateY(0);
  -webkit-transform: scale(1) translateY(0);
}

.underlay {
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.underlay.has-entered {
  background-color: rgba(0, 0, 0, 0.5);
}

.active:hover {
  background-color: #77ba99;
  color: #1e2e35
}

.active {
  background-color: #77ba99;
  color: #1e2e35
}

/*added by justin for pushing message bar to bottom of page*/
.force-to-bottom {
  position: fixed;
  bottom: 0%;
  width: 98%;
}
.form-control:focus {
  color: #293e47;
  background-color: #fff;
  border-color: #afccbe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.1rem #a2ceb8;
  box-shadow: 0 0 0 0.2rem #8abea4; 
}
#card {
  background-color: #eef7f2;
}
#message-bar {
  height: 50px;
}
